NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_N8N_WEBHOOK_URL=https://n8n.senin-sunucun.com/webhook/vasy-verify
N8N_TEST_WEBHOOK_URL=https://n8n.kenankarabulut.com/webhook-test/vasy-verify
